
*{
    margin:0;
    padding:0;
}
ul,li{
    list-style:none;
}
a{
    text-decoration-line: none;
    cursor: pointer;
}
img{
    display:block;
}
$baseSize:16px;
// 广告消失首部 
#bgimgs{
    position:relative;
    height:90px;
    width:100%;
    background:url('../imgs/header.jpg') no-repeat center;
    div{
        position:absolute;
        right:20px;
        top:10px;
        font-size:$baseSize;
        line-height:25px;
        text-align: center;
        width:25px;
        border-radius: 50%;
        background-color:#6c090b;
        color:#fff;
    }
}

// 导航栏
#header{
    width:100%;
    position:relative;
    height:30px;
    a{
        &:hover{
            color:#ca151d;
        }
    }
    ul{
        margin-left:16px;
    }
    li{
        float:left;
        background:url('../imgs/dd.png') no-repeat right center;
        a{
            display:block;
            font-size:12px;
            color:#a4a4a4;
            line-height:30px;
            margin-right:10px;
            margin-left:8px;
        }
    }
    #more-show{
        #more{
            position: relative;
            float:left;
            a{
                &:hover{
                    color:#ca151d;
                } 
            }
           #show{
                width:76px;
                height:30px;
                line-height:30px;
                display:block;
                font-size:12px;
                color:#a4a4a4;
                line-height:30px;
                padding-left:10px;
            }
        }
        #down-more{
            display:none;
            position:absolute;
            width:162px;
            height:315px;
            border:1px solid #ededed;
            left:0;
            top:30px;
            border-top:none;
            background:#fff;
            z-index: 2;
            dl{
                width:144px;
                margin-left:8px;
                border-bottom:1px solid #eaeaea;
                a{
                     display:block;
                     line-height:20px;
                     font-size:12px;
                     color:#3a3a3a;
                     text-align:center;
                     margin-bottom:16px;
                 }
            }
            .ma{
                width:162px;
                padding-top:22px;
                text-align: center;
                img{
                    padding-left:40px;
                }
                p{
                    font-size: 12px;
                    color:#717171;
                    margin-top:10px;
                    a{
                        font-size:12px;
                        color:#3a3a3a;
                    }
                }
            }
        }


    }
    // 注册
    #register{
        position: relative;
        float:right;
        margin-right:24px;
        #regist{
            li:last-child{
                background: none;
                margin-left:14px;
                p{
                    display:inline-block;
                    width:15px;
                    height:15px;
                    background:url('../imgs/common.png') no-repeat 0 3px;
                }
                a{
                    display:inline-block;
                    height:30px;
                    line-height:30px;
                }

            }

        }
        #shoppCart{
            position:absolute;
            right:0px;
            top:30px;
            width:462px;
            height:230px;
            margin:0 auto;
            border:1px solid #eaeaea;
            border-top:none;
            font-size: 14px;
            color:#a4a4a4;
            display: none;
            background:#fff;
            z-index: 2;
            div{
                text-align: center;
                margin-top:25px;
                p{
                    margin-top:10px;
                }
                span{

                    img{
                        padding-left:180px;
                    }
                }
            }
        }
    }
}

//logo页
.logoPage{
    overflow: hidden;
    margin-top:10px;
    height:78px;
    .logo{
        a{
            &:hover{
                color:#ca151d;
                border-bottom:2px solid #ca141d; 
            }
        }
    }
    img{
        float:left;
        margin-left:25px;
    }
    ul{
        li{
            float:left;
            margin-right:20px;
            a{
                padding-bottom:8px;
                display:inline-block;
                font-size:16px;
                color:#3a3a3a;
                margin-top:16px;
            }
        }
    }
    .logoright{
        width:405px;
        float:right;
        .right{
            position: relative;
            width:380px;
            border-bottom:1px solid #dddddd; 
            padding-bottom: 16px;
            li{
                a{
                    &:hover{
                        color:#ca151d;
                    } 
                }
            }
        }
        #liss{
            height:40px;
            width:340px;
            margin-left:180px;
            li{
                margin-top:14px;
                background:#f5f5f5;
                margin-left:10px;
                float: left;
            }
            a{
                font-size:12px;
                color:#a4a4a4;
                display:inline-block;
            }
        }
        }
        .onsbm{
            position: absolute;
            top:25px;
            left:0px;
            form{
                input{
                    outline: none;
                    width:180px;
                    margin-left:8px;
                    border:none;
                }
            }
        }
}



    //轮播图
#lundetial{
    position: relative;
    width:100%;
    #luns{
        width:100%;
        #lunbo{
            position:relative;
            width:100%;
            height:450px;
            margin:0 auto;
            img{
                position:absolute;
                width:100%;
                height:448px;
            }
            #imgId1{
                opacity:1;
            }
            #imgId2{
                opacity:0;
            }
            #imgId3{
                opacity:0;
            }
            #imgId4{
                opacity:0;
            }
            #imgId5{
                opacity:0;
            }
            ul{
                position:absolute;
                left:50%;
                margin-left:-68px;
                bottom:10px;
                height:40px;
                li{
                    float:left;
                    margin-left:10px;
                    width:10px;
                    height:10px;
                    border-radius:50%;
                    border:1px solid #fff;
                }
            }
        }
    }
}

// <!-- 轮播图详情展示 -->
#dds{
    position:absolute;
    left:24px;
    top:0;
    width:240px;
    height:448px;
    background:rgba(0, 0, 0, .5);
    #goodslist{
        position:relative;
        width:240px;
        height:448px;
        //第一个li
        #item{
            width:240px;
            height:75px;
            &:hover #goodsdetial{
                display: block;
            }
            #detaiList{
                position: relative;
                width:240px;
                height:75px;
                &:hover{
                    background:#3d3d3d;

                    a{
                        color:#fff;
                    }
                }
                a{
                    font-size:14px;
                    color:#999;
                   
                }
                span:last-child{
                    margin-left:10px;
                }
                i{
                    display:block;
                    width:8px;
                    height:15px;
                    position: absolute;
                    right:10px;
                    top:50%;
                    margin-top:-12px;
                    background:url('../imgs/common.png') no-repeat -9px -214px;
                }
            }
            // 列表详情
            #goodsdetial{
                width:646px;
                height:448px;
                background:#fff;
                position: absolute;
                left:240px;
                top:0;
                border-top:1px solid #eaeaea;
                display: none;
                #dd-title{
                    height:70px;
                    span{
                        margin-left:20px;
                        line-height:70px;
                        font-size:14px;
                        color: #ca151d;
                    }
                    span:last-child{
                        margin-left:480px;
                    }
                }
                #dd-list{
                    border-top:1px solid #eaeaea;
                    width:646px;
                    height: 137px;
                    padding-top:30px;
                    li{
                        float:left;
                        text-align: center;
                        width:160px;
                        a{
                            display: block;
                            font-size: 14px;
                            color:#3a3a3a;
                        }
                    }
                    li:nth-child(5){
                        margin-left:5px;
                    }
                }
                
                #dd-pover{
                    width:648px;
                    height:236px;
                    position: relative;
                    ul{
                        width:648px;
                        height:236px;
                        text-align: center;
                        position: absolute;
                        top:-26px;
                        li{
                            width:159px;
                            height:236px;
                            float:left;
                            border:1px solid #eaeaea;
                            a{
                                display:block;
                                padding-top:26px;
                                width:162px;
                                height:236px;
                                img{
                                    width:118px;
                                    height:118px;
                                }
                                div{
                                    padding-top:20px;
                                    width:160px;
                                    height:42px;
                                    font-size: 14px;
                                    color:#3a3a3a;
                                }
                                p{
                                    margin-top:-15px;
                                    width:162px;
                                    height:14px;
                                    font-size: 14px;
                                    color: #ca151d;
                                }
                            }
                        }
                    }
                }
            }


        }
    }


}


// 轮播图下面的内容
.luntotal{
    width:100%;
    background:#f5f5f5;
    .lunx{
        width:1200px;
        margin:0 auto;
        border:1px solid #eaeaea;
        background:#fff;
        overflow: hidden;
        .lunx1{
            float: left;
            margin:20px 26px;
            margin-right: 0;
            width:290px;
            border-right:1px solid #eaeaea;
            .imgss{
                width:60px;
                height:60px;
                float:left;
                img{
                    width:60px;
                    height:60px;
                }
            }
            .login{
                float:left;
                width:160px;
                padding:0 26px;
                div{    
                    color:#a4a4a4;
                    font-size:10px;
                }
                a{
                    display: inline-block;
                    line-height:20px;
                    font-size:10px;
                    color:#3a3a3a;
                    &:hover{
                        color:#ca151d;
                    }
                }
                span{
                    display: inline-block;
                    width:58px;
                    height:18px;
                    font-size:10px;
                    text-align:center;
                    border:1px solid #ca151d;
                    &:hover{
                        color:#fff;
                        background:#ca151d;
                        cursor: pointer;
                    }
                    margin-top:10px;
                }
            }
        }
        .lunx2{
            width:600px;
            float: left;
            margin:20px 0;
            border-right:1px solid #eaeaea;
            overflow: hidden;
            li{
                width:100px;
                float: left;
                text-align: center;
                a{
                    display: block;
                    width:100px;
                    span{
                        display: inline-block;
                        width: 40px;
                        overflow: hidden;
                    }
                    p{
                        font-size: 12px;
                        color: #3a3a3a;
                        &:hover{
                            color: #ca151d;
                        }
                    }
                }
            }
            @for $i from 1 to 7{
                li:nth-child(#{$i}){
                    a{
                        span{
                            img{
                                margin-left:-($i - 1)*40px;
                            }
                        }
                    }
                }
            }
        }
        .lunx3{
            float: left;
            .gongao{
                width:280px;
                padding-top: 15px;
                padding-bottom: 15px;
                border-bottom: 1px solid #eaeaea;
                span:nth-child(1){
                    padding-left:12px;
                    color:red;
                    font-size: 14px;
                    font-weight: 600;
                }
                span:nth-child(2){
                    padding-left:12px;
                    color:#3a3a3a;
                    font-size: 14px;
                    
                }
            }
            #gons{
                width:280px;
                li{
                    float: left;
                    width:90px;
                    a{
                        color:#3a3a3a;
                        font-size: 10px;
                        &:hover{
                            color: #ca151d;
                        }
                    }
                    span:nth-child(1){
                        display: inline-block;
                        width:20px;
                        height:20px;
                        overflow: hidden;
                        position: relative;
                        margin-top:10px;
                        margin-left:15px; 
                        #Imgs1{
                            position: absolute;
                            left:-240px;
                            padding-top:4px;
                        }
                        #Imgs2{
                            position: absolute;
                            left:-260px;
                            padding-top:4px;
                        }
                        #Imgs3{
                            position: absolute;
                            left:-280px;
                            padding-top:4px;
                        }
                    }

                }
            }
        }
    }
}

// 热销单品上图
#rexs{
    width:100%;
    background:#f5f5f5;
    padding-top:20px;
    height:160px;
    ul{
        width:1200px;
        margin:0 auto;
        li{
            margin-right:12px;
            float:left;
            &:hover{
                transition: all 1s;
                box-shadow:0 20px 40px #ccc;
            }
        }
        li:last-child{
            margin-right:0px;
        }
    }
}

//热销单品
#rex{
    width:100%;
    background:#f5f5f5;
    height:670px;
    #rexs{
        margin:0 auto;
        width:1200px;
        background:#f5f5f5;
        #dan-title{
            color:#3a3a3a;
            font-size: 20px;
            font-weight: 600px;
            margin-bottom:16px;
        }
        #rextu{
            width:1200px;
            height:590px;
            #tus{
                float: left;
            }
            #rex-detial{
                float: left;
                width:960px;
                    #ulss{
                        width:970px;
                        background:#f5f5f5;
                        overflow: hidden;
                        a{
                            background:#fff;
                            float:left;
                            display: block;
                            width:230px;
                            height:290px;
                            text-align: center;
                            position: relative;
                            margin-left:12px;
                            &:hover{
                                transform: translateY(-4px);
                                transition: all 1s;
                                box-shadow:0 0 30px #ccc;
                            }
                            #lis{
                                width:230px;
                                height:290px;
                                img{
                                    width:144px;
                                    margin:0 auto;
                                    margin-top:36px;
                                }
                                span{
                                    display:block;
                                    color:#3a3a3a;
                                    font-size:12px;
                                    padding-top: 30px;
                                }
                                i{
                                    color:#a4a4a4;
                                    font-size:12px;
                                }
                                p{
                                    color:#ca151d;
                                    font-size:12px;
                                }
                            }
                            #ps{
                                position: absolute;
                                right:40px;
                                bottom:90px;
                                img{
                                    width:50px;
                                    height:50px;
                                }
                            }
                        }
                    }  
            }
        }
    }

}
// 精品推荐
#bout-title{
    color:#3a3a3a;
    font-size: 20px;
    line-height: 40px;
    font-weight: 600px;
    padding-left:20px;
    background:#f5f5f5;
}
#bout{
    width:100%;
    height:300px;
    background:#f5f5f5;
    #recommend{
        width:1200px;
        margin:0 auto;
        background:#f5f5f5;
        overflow: hidden;
        #bout-bottom{
            width:1200px;
            height:300px;
            margin-top:10px;
            position: relative;
                .uuls{
                    background:#f5f5f5;
                    width:3100px;
                    height:300px;
                    overflow: hidden;
                    position: absolute;
                    a{
                        background:#fff;
                        float:left;
                        display: block;
                        text-align: center;
                        position: relative;
                        margin-left:2px;
                        #lis{
                            width:230px;
                            height:300px;
                            &:hover{
                                transform: translateY(-4px);
                                transition: all 1s;
                                box-shadow:0 5px 40px #ccc;
                            }
                            img{
                                width:144px;
                                margin:0 auto;
                                padding-top:30px;
                            }
                            span{
                                display:block;
                                color:#3a3a3a;
                                font-size:12px;
                            }
                            i{
                                color:#a4a4a4;
                                font-size:12px;
                            }
                            p{
                                color:#ca151d;
                                font-size:12px;
                            }
                        }
                        #ps{
                            position: absolute;
                            right:40px;
                            bottom:100px;
                            img{
                                width:50px;
                                height:50px;
                            }
                        }
                    }
                } 
                .btn{
                    a{
                        background:#eee;
                        bottom:100px;
                        display:inline-block;
                        width:22px;
                        text-align: center;
                        line-height:75px;
                        font-size:20px;
                        color:#fff;
                        position: absolute;
                    }
                    .btn-left{
                        left:0;
                    }
                    .btn-right{
                        right:0;
                    }
                }
        }
      
    }

}

// 精品推荐下方的轮播图
#detials{
    position: relative;
    width:100%;
    background:#f5f5f5;
    height:120px;
    padding-top:20px;
    #lunss{
        width:1200px;
        height:120px;
        margin: 0px auto;
        #lunbos{
            position:relative;
            height:120px;
            img{
                position:absolute;
                height:120px;
            }
            #imgI1{
                opacity:1;
            }
            #imgI2{
                opacity:0;
            }
            #imgI3{
                opacity:0;
            }
            #imgI4{
                opacity:0;
            }
            #imgI5{
                opacity:0;
            }
            #imgI6{
                opacity:0;
            }
            #imgI7{
                opacity:0;
            }
            .btns{
                position:absolute;
                right:120px;
                bottom:10px;
                li{
                    float:left;
                    margin-left:6px;
                    width:8px;
                    height:8px;
                    border-radius:50%;
                    background:#ccc;
                }
            }
        }
    }
}

// 跟多
.Page{
    width:100%;
    height:78px;
    line-height: 78px;
    background:#f5f5f5;
    .lo{
        width:1200px;
        height:78px;
        line-height: 78px;
        background:#f5f5f5;
        p{
            float:left;
            color:#3a3a3a;
            line-height: 78px;
            font-size: 20px;
            margin-left:25px;
        }
        ul{
            li:nth-child(1){
                 margin-left:40px;
            }
            li{
                float:left;
                margin-right:10px;
                a{
                    display:inline-block;
                    font-size:16px;
                    color:#3a3a3a;
                    margin-left:12px;
                    height:55px;
                    &:hover{
                        color:#ca151d;
                        border-bottom:2px solid #ca141d; 
                    }
                    
                }
            }
        }
        .right{
            float:right;
            width:200px;
            li{
                margin-left: 100px;
                a{
                    display:block;
                    font-size:20px;
                    color:#3a3a3a;
                    &:hover{
                        color:#ca151d;
    
                    } 
                }
            }
        }
    }
 
}

// 手机下面的内容（八个图片）
#gg-detial{
    width:100%;
    height:690px;
    background:#f5f5f5;
        #ulss{
            width:1200px;
            background:#f5f5f5;
            margin:0 auto;
            a{
                background:#fff;
                float:left;
                display: block;
                width:290px;
                height:340px;
                text-align: center;
                position: relative;
                margin-left:10px;
                #lis{
                    width:290px;
                    height:340px;
                     &:hover{
                                transform: translateY(-4px);
                                transition: all 1s;
                                box-shadow:0 5px 40px #ccc;
                            }
                    #firstImg{
                        width:290px;
                        height:340px;
                        img{
                            width:290px;
                            height:340px;
                            padding-top:0px;
                        }
                    }
                    img{
                        width:160px;
                        margin:0 auto;
                        padding-top:40px;
                    }
                    span{
                        display:block;
                        color:#3a3a3a;
                        font-size:12px;
                        padding-top: 50px;
                    }
                    i{
                        color:#a4a4a4;
                        font-size:12px;
                    }
                    p{
                        color:#ca151d;
                        font-size:12px;
                    }
                }
                #ps{
                    position: absolute;
                    right:50px;
                    bottom:130px;
                    img{
                        width:50px;
                        height:50px;
                    }
                }
            }
        }  
}

// 笔记本电脑（四个图片）
// 更多
#bb-detial{
    width:100%;
    height:340px;
    background:#f5f5f5;
        #ulss{
            width:1200px;
            background:#f5f5f5;
            margin:0 auto;
            a{
                background:#fff;
                float:left;
                display: block;
                width:290px;
                height:340px;
                text-align: center;
                position: relative;
                margin-left:10px;
                #lis{
                    width:290px;
                    height:340px;
                    &:hover{
                        transform: translateY(-4px);
                        transition: all 1s;
                        box-shadow:0 5px 40px #ccc;
                    }
                    #firstImg{
                        width:290px;
                        height:340px;
                        img{
                            width:290px;
                            height:340px;
                            padding-top:0px;
                        }
                    }
                    img{
                        width:160px;
                        margin:0 auto;
                        padding-top:40px;
                    }
                    span{
                        display:block;
                        color:#3a3a3a;
                        font-size:12px;
                        padding-top: 50px;
                    }
                    i{
                        color:#a4a4a4;
                        font-size:12px;
                    }
                    p{
                        color:#ca151d;
                        font-size:12px;
                    }
                }
                #ps{
                    position: absolute;
                    right:50px;
                    bottom:130px;
                    img{
                        width:50px;
                        height:50px;
                    }
                }
            }
        }  
}

//智能家居
#ju-detial{
    width:100%;
    height:690px;
    background:#f5f5f5;
        #ulss{
            width:1200px;
            background:#f5f5f5;
            margin:0 auto;
            #firstA{
                display: block;
                float:left;
                width:590px;
                height:340px;
                #lis{
                    &:hover{
                        transform: translateY(-4px);
                        transition: all 1s;
                        box-shadow:0 5px 40px #ccc;
                    }
                    #firstImg{
                        img{
                            width:590px;
                            height:340px;
                            padding-top:0px;
                        }
                    }
                }
            }
            a{
                background:#fff;
                float:left;
                display: block;
                width:290px;
                height:340px;
                text-align: center;
                position: relative;
                margin-left:10px;
                #lis{
                    height:340px;
                    &:hover{
                        transform: translateY(-4px);
                        transition: all 1s;
                        box-shadow:0 5px 40px #ccc;
                    }
                    img{
                        width:160px;
                        margin:0 auto;
                        padding-top:40px;
                    }
                    span{
                        display:block;
                        color:#3a3a3a;
                        font-size:12px;
                        padding-top: 50px;
                    }
                    i{
                        color:#a4a4a4;
                        font-size:12px;
                    }
                    p{
                        color:#ca151d;
                        font-size:12px;
                    }
                }
                #ps{
                    position: absolute;
                    right:50px;
                    bottom:130px;
                    img{
                        width:50px;
                        height:50px;
                    }
                }
            }
        }  
}

//实名认证
#shiming{
    padding-top:30px;
    padding-bottom: 50px;
    width:100%;
    height:120px;
    background:#f5f5f5;
    #shis{
        width:1200px;
        margin:0 auto;
        a{
            display: block;
            img{
                width:100%;
                height:120px;
            }
        }
    }
}

// 首页底部
#foot{
    width:100%;
    background:#f0f0f0;
    #footer{
        width:1200px;
        margin: 0 auto;
        #footone{
            height:50px;
            line-height:50px;
            padding:40px 0 40px;
            width:1200px;
            margin: 0 auto;
            border-bottom: 1px solid #e8e8e8;
            li{
                float: left;
                width:300px;
                height:50px;
                line-height:50px;
                a{
                    color: #333333;
                    font-size: 16px;
                    height: 50px;
                }
                div{
                    display: inline-block;
                    width:47px;
                    height:47px;
                }
                #sIMg1{
                    i{
                        width:47px;
                        height:47px;
                        background: url("../imgs/common.png") no-repeat -47px -200px;
                    }
                }
                #sIMg2{
                    i{
                        width:47px;
                        height:47px;
                        background: url("../imgs/common.png") no-repeat 0px -150px;
                    }
                }
                #sIMg3{
                    i{
                        background: url("../imgs/common.png") no-repeat 0px -150px;
                    }
                }
                #sIMg4{
                    i{
                        background: url("../imgs/common.png") no-repeat 0px -150px;
                    }
                }
            }

        }

        #foottwo{
            width:1200px;
          
            margin: 0 auto;
            padding-top:30px;
           overflow: hidden;
            #twoLeft{
                float: left;
                width:1010px;
                #Left{
                    float: left;
                    width:160px;
                    #xian{
                        width:22px;
                        height:2px;
                        background-color: #a8a8a8;
                    }
                    #leftTitle{
                        padding-top: 20px;
                        line-height: 10px;
                        font-size: 12px;
                        color: #3a3a3a;
                    }
                    ul{
                        padding-top: 15px;
                        li{
                            line-height: 24px;
                            a{
                                font-size: 10px;
                                color: #666;
                                &:hover{
                                    color: #ca151d;
                                }
                            }
                        }
                    }

                }
            }


            #twoRight{
                float: left;
                #Left{
                    float: left;
                    width:160px;
                    #xian{
                        width:22px;
                        height:2px;
                        background-color: #a8a8a8;
                    }
                    #leftTitle{
                        padding-top: 20px;
                        line-height: 10px;
                        font-size: 20px;
                        color: #3a3a3a;
                    }
                    ul{
                        padding-top: 20px;
                        li{
                            a{
                                font-size: 10px;
                                color: #666;
                                &:hover{
                                    color: #ca151d;
                                }
                            }
                            img{
                                width:160px;
                                height:35px;
                                padding-top:10px;
                                margin-bottom: 10px;
                            }
                        }
                    }

                }
            }
        }

        
    }
}
#footThree{
    width:100%;
    height:136px;
    background: #e6e6e6;
    #three{
        width:1200px;
        margin:0 auto;
        #footLogo{
            padding-top:45px;
            float: left;
            img{
                width:81px;
                height: 18px;
            }
        }
        #footContent{
            float: left;
            padding-top:30px;
            padding-left:30px;
            padding-bottom: 40px;
            div{
                a{
                    color: #333333;
                    font-size: 10px;
                    line-height: 20px;
                    &:hover{
                        color: #ca151d;
                    }
                }
                span{
                    line-height: 20px;
                    font-size: 10px;
                }
            }
        }
        #threeRight{
            float: left;
            padding-top:45px;
            padding-left:100px;
            a{
                display: inline-block;
                padding-left: 10px;
                img{
                    width:70px;
                }
            }
        }
    }
}

#lastFix{
    //固定定位
    #fix{
        display: none;
        width:40px;
        height:40px;
        text-align: center;
        color: #fff;
        line-height:40px;
        border-radius: 50%;
        background:rgba(0, 0, 0, .5);
        position: fixed;
        bottom:100px;
        right:20px;
        &:hover{
            cursor: pointer;
        }
    }
    #fixes{
        width:40px;
        height:40px;
        color: #fff;
        border-radius: 50%;
        background-color:rgba(0, 0, 0, .5);
        position: fixed;
        bottom:50px;
        right:20px;
        &:hover #fixLoca{
            display: block;
        }
        
        p{
            &:hover{
                cursor: pointer;
            }
            height:20px;
            width:20px;
            position: absolute;
            margin: 0 auto;
            overflow: hidden;
            left:10px;
            top:10px;
            background: url('../imgs/common.png') no-repeat -166px 0px;
        }
    }
#fixLoca{
    display: none;
    #fix1{
        position: fixed;
        bottom:50px;
        right:70px;
        li{
            width:40px;
            height:40px;
            color: #fff;
            border-radius: 50%;
            background-color:rgba(0, 0, 0, .5);
        }
            a{
                height:20px;
                width:20px;
                position: absolute;
                margin: 0 auto;
                overflow: hidden;
                left:10px;
                top:10px;
                background: url('../imgs/common.png') no-repeat -148px 1px;
            }
    }
    #fix2{
        position: fixed;
        bottom:50px;
        right:120px;
        li{
            width:40px;
            height:40px;
            border-radius: 50%;
            background-color:rgba(0, 0, 0, .5);
        }
            a{
                height:20px;
                width:18px;
                position: absolute;
                margin: 0 auto;
                overflow: hidden;
                left:10px;
                top:10px;
                background: url('../imgs/common.png') no-repeat -133px 1px;
            }
    }
    #fix3{
        position: fixed;
        bottom:30px;
        right:20px;
        li{
            width:40px;
            height:15px;
        }
        a{
            width:40px;
            height:15px;
            position: absolute;
            background: url('../imgs/common.png') no-repeat -80px -198px;
        }
    }
    #fix4{
        position: fixed;
        bottom:30px;
        right:70px;
        li{
            width:40px;
            height:15px;
        }
        a{
            width:40px;
            height:15px;
            position: absolute;
            background: url('../imgs/common.png') no-repeat -40px -198px;
        }
    }
    #fix5{
        position: fixed;
        bottom:30px;
        right:120px;
        li{
            width:40px;
            height:15px;
        }
        a{
            width:40px;
            height:15px;
            position: absolute;
            background: url('../imgs/common.png') no-repeat 0px -198px;
        }
    }


}
    
}